{% extends "base.html.twig" %}

{% block title %}List Achievements{% endblock %}

{% block body %}
<div id="achievements" class="container">
    <section id="search">
        <a class="button-add" href="{{ path("admin_achievements_add") }}">Ajouter</a>
    </section>
    <section id="result">
        <ul>
            {% for achievement in achievements %}
                <li><div class="name">{{ achievement.name }}</div><a class="link" href='{{ path("admin_achievements_edit", {id: achievement.id}) }}'>Modifier</a><a class="link" href='{{ path("admin_achievements_delete", {id: achievement.id}) }}'>Supprimer</a>{#<a class="link" href='{{ path("admin_cities_one", {id: city.id}) }}'>Voir</a>#}</li>
            {% endfor %}
        </ul>
    </section>
</div>
{% endblock %}