{% extends "base.html.twig" %}

{% block title %}List Escapes{% endblock %}

{% block body %}
<div id="escapes" class="container">
    <section id="search">
        <a class="button-add" href="{{ path("admin_escapes_informations_add") }}">Ajouter</a>
        <div class="form-escm">
            {{ form_start(form) }}
                <div class="info">
                    <div class="label">
                    {{ form_label(form.entreprises) }}
                    </div>
                    {{ form_widget(form.entreprises) }}
                </div>
                <div class="info">
                    <div class="label">
                    {{ form_label(form.cities) }}
                    </div>
                    {{ form_widget(form.cities) }}
                </div>
                <div class="info">
                    <div class="label">
                    {{ form_label(form.name) }}
                    </div>
                    {{ form_widget(form.name) }}
                </div>
                <div class="submit-button">{{ form_row(form.search) }}</div>
            {{ form_end(form) }}
        </div>
    </section>
    <section id="result">
        <ul>
            {% for escape in escapes %}
                <li><div class="name">{{ escape.name }}</div><a class="link" href='{{ path("admin_escapes_informations_edit", {id: escape.id}) }}'>Modifier</a><a class="link" href='{{ path("admin_escapes_informations_delete", {id: escape.id}) }}'>Supprimer</a><a class="link" href='{{ path("admin_escapes_one", {id: escape.id}) }}'>Voir</a></li>
            {% endfor %}
        </ul>
    </section>
</div>
{% endblock %}